# Project exclude paths
/.gradle/
/build/
/logging/build/
/logging/logging-api/build/
/logging/logging-api/build/classes/java/main/
/logging/logging-slf4j/build/
/logging/logging-slf4j/build/classes/java/main/
/modules/app/build/
/modules/app/build/classes/java/main/
/modules/build/
/modules/coffeemaker/build/
/modules/coffeemaker/filter-api/build/
/modules/coffeemaker/filter-api/build/classes/java/main/
/modules/coffeemaker/grinder-api/build/
/modules/coffeemaker/grinder-api/build/classes/java/main/
/modules/coffeemaker/heater-api/build/
/modules/coffeemaker/heater-api/build/classes/java/main/
/modules/coffeemaker/maker/build/
/modules/coffeemaker/maker/build/classes/java/main/
/modules/coffeemaker/maker/build/classes/java/test/
/modules/coffeemaker/pump-api/build/
/modules/coffeemaker/pump-api/build/classes/java/main/
/modules/electricgrinder/build/
/modules/electricgrinder/build/classes/java/main/
/modules/electricheater/build/
/modules/electricheater/build/classes/java/main/
/modules/fancyfilter/build/
/modules/fancyfilter/build/classes/java/main/
/modules/mechanicalpump/build/
/modules/mechanicalpump/build/classes/java/main/